
<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal"
      >
      <v-card>
        <header
          class="modal-header"
          id="modalTitle"
        >
          <slot name="header">
            <h4 class="teal--text">Default Header</h4>
            <v-btn icon
              @click="close">
              <v-icon color="red">close</v-icon>
            </v-btn>
          </slot>
        </header>
        <section
          class="modal-body"
        >
          <slot name="body">
            Default Body
          </slot>
        </section>
      </v-card>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'modal',
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>

<style>
  .modal {
    width: 400px;
    z-index: 99999;
    box-shadow: 2px 2px 20px 1px;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
  }

  .modal-header {
    padding: 10px 20px 0px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #eeeeee;
    color: #4AAE9B;
    justify-content: space-between;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

</style>