<template>
  <v-app id="app">
    <div
      id="app-loading"
      class="white"
    >
      <v-container
        fluid
        class="mt-5"
      >
        <v-layout
          align-center
          column
          flex
          justify-center
        >
          <img
            src="./assets/vuetify.png"
            width="250"
            height="250"
          >
          <div
            class="mt-2 teal--text teal--darken-4 text-xs-center"
            style="font-size: 2em; font-weight: bold"
          >
            <p>Phone No Mask</p>
          </div>
          <v-progress-circular
            :size="35"
            :width="4"
            indeterminate
            color="teal"
            class="mt-3"
          />
        </v-layout>
      </v-container>
    </div>
    <router-view/>
  </v-app>
</template>

<script>

//imports components
import Home from './components/Home.vue';

export default {
  name: 'app',
  components: {
    Home
  },
   created() {
    // when everything is loaded, hide the loading div element
    window.onload = () => {
      const appLoadingDiv = document.getElementById("app-loading");
      appLoadingDiv.style.display = "none";
    };
   }
}
</script>

<style scoped>
#app-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
</style>