<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="regions"
      :pagination.sync="pagination"
      :total-items="totalregions"
      :loading="loading"
      class="elevation-1"
    >
      <v-progress-linear slot="progress"  color="blue" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.phone }}</td>
        <td class="justify-center layout px-0 pt-2">
          <v-icon color="teal" small class="mr-2" @click="editRegion(props.item.id)">edit</v-icon>
          <v-icon color="red" small @click="deleteRegion(props.item.id)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <h4 class="teal--text py-3 text-xs-center">The system is trying to fetch data ...</h4>
      </template>
    </v-data-table>
  </div>
</template>


<script>
import { mixin } from "../../mixins/mixin";
export default {
  mixins: [mixin]
};
</script>

