<template>
    <div>
        <v-card>
            <masked-input 
            v-model="phone" 
            mask="\+\25\1-1111-111-11" 
            placeholder="Phone" 
            id="maskRule"
            class="masked"
            /> 
        </v-card>
        <span class="red--text">{{phoneErr}}</span> 
        
    </div>
</template>

<script>

import MaskedInput from 'vue-masked-input' 
export default {
    data(){
        return{
            phone: '',
            userField: '',
            rawVal: '',
            phoneErr:'',
        }
    },
    components: {
    MaskedInput
  },
  updated(){
    if (!this.phone) {
          this.phoneErr='* Required'
          document.getElementById('maskRule').style.borderColor = 'red'
        }
    else{
      this.phoneErr=''
      document.getElementById('maskRule').style.borderColor = 'darkgray'
      this.passPhone(this.phone)
    }
  },
  methods:{
      passPhone(event){
        this.$emit('maskedPhone', this.phone)
    }
  }
}
</script>

<style>
    .masked{
    width: 100%;
    padding: 8px 16px;
    font-size:16px;
    border: 1px solid darkgray
  }
</style>



